*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100dvh;
    display: grid;
    place-content: center;
}

.container{
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 300px;
}

.container input{
    text-align: center;
    font-size: 1.5rem;
}

.container button{
    
}